<div class="col">
    <form action="/auth/signup" method="post">
        <div class="form-control">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese su usuario">
        </div>

        <div class="form-control">
            <label for="email" class="form-label">Name</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email">
        </div>

        <div class="form-control">
            <label for="password" class="form-label">Name</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña">
        </div>

        <div class="form-control">
            <label for="confirm-password" class="form-label">Name</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Ingrese su contraseña de nuevo ">
        </div>
    </form>
</div>