{{#each errors}}
    
    <div class="uk-alert-danger mt-5 .uk-width-expand" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p> {{this.msg}}</p>
    </div>

{{/each}}

{{#if todo_error}}
    <div class="uk-alert-danger mt-5 .uk-width-expand" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{todo_error}}</p>
    </div>
{{/if}}


<form id="formAuth" class="uk-form-stacked m-3 p-3" action="/auth/signup" method="POST">

    <h3>Register</h3>
    <div class="uk-margin">
        
        <label class="uk-form-label" for="name">Nombre</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" id="name" name="name" placeholder="Ingrese su nombre" value={{name}}>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="email">Correo Electronico</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="email" id="email" name="email" placeholder="example@gmail.com" value={{email}}>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="password">Contrase単a</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="password" id="password" name="password" placeholder="Ingrese una contrase単a">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="confirm-password">Repetir contrase単a</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="password" id="confirm_password" name="confirm_password" placeholder="Repita su contrase単a">
        </div>
    </div>

    <button class="uk-button uk-button-secondary mt-3">
            Register
    </button>

</form>