<h2 id="editpost" class="uk-flex uk-flex-center mt-3 mt-4">Edit Post</h2>

<form class="mt-3" action="/posts/{{post._id}}?_method=PUT" method="post">

    <div class="form-control">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="form-control">
            <input type="text" class="form-control-plaintext" id="title" name="title" value="{{post.title}}">
        </div>
    </div>
    <div class="form-control">
        <label for="body" class="col-sm-2 col-form-label">Content</label>
        <textarea class="form-control" id="body" name="body" rows="10">{{post.body}}</textarea>
    </div>

    <button class="uk-button uk-button-secondary mt-5">Editar</button>

</form>