<div class="uk-grid-small" uk-grid>
    {{#each posts}}

    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-flex-cente">
        <h3 class="uk-card-title">{{this.title}}</h3>
        <p>{{this.body}}</p>
    </div>

    {{/each}}
</div>
